@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$font-main: "Roboto Condensed", sans-serif;
$font-large: 64px;
$font-medium: 20px;
$font-small: 16px;

$color-bg: #23272b;
$color-gray: #2e3336;
$color-lightgray: #3a3f43;
$color-green: #7cd66d;
$color-red: #cf5757;
$color-white: #fff;
$color-graytext: #81909a;
